<section id="contact-section" class="contact-section">
  <div class="wrapper-container">
    <div class="contact-container">
      <h1 class="header">Contact</h1>
      <div class="content-container">
        <div class="description-container">
          <p class="description">Hey there! I'm glad you made it this far.</p>
          <p class="description">
            I'm always interested in hearing more about new and exciting
            technologies, opportunities and projects. If you want to chat, fill
            out this lovely form right here...
          </p>
          <p class="description">
            ...and I'll get back to you as soon as possible.
          </p>
        </div>
        <div class="form-container">
          <form
            class="contact-form"
            autocomplete="off"
            action="mailto:{{ site.email }}"
            method="post"
            enctype="text/plain"
          >
            <div class="name-container">
              <input
                autocomplete="off"
                type="text"
                placeholder="First Name"
                class="form-input"
                id="first-name-input"
                required
              />
              <input
                autocomplete="off"
                type="text"
                placeholder="Last Name"
                class="form-input"
                id="last-name-input"
                required
              />
            </div>
            <input
              autocomplete="off"
              type="email"
              placeholder="Email"
              class="form-input"
              id="email-input"
              required
            />
            <input
              autocomplete="off"
              type="text"
              placeholder="Subject"
              class="form-input"
              id="subject-input"
              required
            />
            <textarea
              autocomplete="off"
              rows="10"
              placeholder="Words...words...words..."
              class="email-body"
              id="email-body-input"
              required
            ></textarea>
            <button class="form-button" type="submit">Let's Chat!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
