<section class="experience-section" id="experience-section">
  <h1 class="section-title">Experience</h1>
  <div class="experience-container">
    <div id="experience-one" class="experience">
      <img
        class="folder-icon"
        src="../assets/img/folder-closed-outlined.png"
        alt="Folder Closed Icon Outlined"
      />
      <p class="folder-name">Capital One</p>
    </div>
    <div id="experience-two" class="experience">
      <img
        class="folder-icon"
        src="../assets/img/folder-closed-outlined.png"
        alt="Folder Closed Icon Outlined"
      />
      <p class="folder-name">Verizon Connect</p>
    </div>
    <div id="experience-three" class="experience">
      <img
        class="folder-icon"
        src="../assets/img/folder-closed-outlined.png"
        alt="Folder Closed Icon Outlined"
      />
      <p class="folder-name">John Deere</p>
    </div>
  </div>
  <div id="experience-one--description" class="experience-description hide">
    <p>Software Engineer</p>
    <p>2019 - Present</p>
    <p>
      In this position, I did many things. I created this. I destroyed that. I
      gave resounding presentations and paved the way for the future. Or maybe I
      just dreamed all that. Anyway, I work here.
    </p>
  </div>
  <div id="experience-two--description" class="experience-description hide">
    <p>Software Engineering Intern</p>
    <p>2018</p>
    <p>
      In this position, I did many things. I created this. I destroyed that. I
      gave resounding presentations and paved the way for the future. Or maybe I
      just dreamed all that. Anyway, I work here.
    </p>
  </div>
  <div id="experience-three--description" class="experience-description hide">
    <p>Software Engineering Intern</p>
    <p>2017</p>
    <p>
      In this position, I did many things. I created this. I destroyed that. I
      gave resounding presentations and paved the way for the future. Or maybe I
      just dreamed all that. Anyway, I work here.
    </p>
  </div>
</section>
