<section class="experience-section" id="experience-section">
  <div class="wrapper-container">
    <div class="experience-container">
      <h1 class="section-title">Experience</h1>
      <h4 class="subtitle">Click to Learn More</h4>
      <div class="content-container">
        {% for item in site.data.experience %}
        <div id="experience-{{ forloop.index }}" class="experience">
          <img
            class="folder-icon"
            src="../assets/img/folder-closed-outlined.png"
            alt="Folder Closed Icon Outlined"
          />
          <p class="folder-name">{{ item.company }}</p>
          <p class="folder-date">{{ item.date }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="modal-container">
        <div class="modal-content">
          {% for item in site.data.experience %}
          <div
            id="experience-{{ forloop.index }}--description"
            class="experience-description hide"
          >
            <div class="bar">
              <img
                class="close-modal-icon"
                src="../assets/img/close-icon-outlined.png"
                alt="Close Modal Icon"
                width="24px"
                height="24px"
              />
              <span>...</span>
            </div>
            <div class="modal-content-container">
              <h3>{{ item.title }}</h3>
              <div class="responsibilities-container">
                <ul>
                  {% for subitem in item.responsibilities %}
                  <li>{{ subitem }}</li>
                  {% endfor %}
                </ul>
              </div>

              <hr />
              <div class="skills-container">
                {% for subitem in item.skills %}
                <p>{{ subitem }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
