<section class="intro-section">
  <div class="intro-outer-container">
    <div class="intro-inner-container">
      <h1 class="intro-inner-container__header">Welcome</h1>
      <div class="intro-content-container">
        <div class="description-container">
          <p class="description-container__description">
            My name is <span>Corey&nbsp;Caskey</span>
          </p>
          <p class="description-container__description">
            and I'm a software engineer at <span>DraftKings</span>.
          </p>
          <p class="description-container__description">
            I've worked all across the tech stack and in very different
            industries during my career thus far, but my true passion lies in
            <span>frontend&nbsp;engineering</span>.
          </p>
        </div>
        <div class="img-container">
          <div class="img-container__mask">
            <img
              class="img-container__img"
              src="{{ "/assets/img/professional.png" | relative_url }}"
              alt="Profile Picture"
              height="150px"
              width="150px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
