<section id="intro-section" class="intro-section">
  <div class="intro-container">
    <h1 class="header">Welcome!</h1>
    <div class="content-container">
      <div class="description-container">
        <p class="description">My name is <span>Corey Caskey</span></p>
        <p class="description">
          and I'm a software engineer at <span>Capital One</span>.
        </p>
        <p class="description">
          I've worked all across the tech stack and in very different industries
          during my young career, but my true passion lies in
          <span>frontend engineering</span>.
        </p>
      </div>
      <div class="img-container">
        <div class="img-mask">
          <img
            src="../assets/img/professional.png"
            alt="Profile Picture"
            height="175px"
            width="175px"
          />
        </div>
      </div>
    </div>
  </div>
</section>
