<section id="intro-section" class="intro-section">
  <div class="wrapper-container">
    <div class="intro-container">
      <h1 class="header">Welcome!</h1>
      <div class="content-container">
        <div class="description-container">
          <p class="description">My name is <span>Corey&nbsp;Caskey</span></p>
          <p class="description">
            and I'm a software engineer at <span>Capital&nbsp;One</span>.
          </p>
          <p class="description">
            I've worked all across the tech stack and in very different industries
            during my young career, but my true passion lies in
            <span>frontend&nbsp;engineering</span>.
          </p>
        </div>
        <div class="img-container">
          <div class="img-mask">
            <img
              src="../assets/img/professional.png"
              alt="Profile Picture"
              height="150px"
              width="150px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
