<section id="navigation-section" class="navigation-section">
  <div class="navbar" role="banner">
    <div class="links-container--collapsed">
      <div id="dropdown-menu" class="dropdown-menu">
        <div class="dropdown-menu-bar dropdown-menu-bar--top"></div>
        <div class="dropdown-menu-bar dropdown-menu-bar--middle"></div>
        <div class="dropdown-menu-bar dropdown-menu-bar--bottom"></div>
      </div>
      <div id="dropdown-menu-container" class="dropdown-menu-container">
        <a id="navbar-link--about" class="navbar-link">About Me</a>
        <a id="navbar-link--skills" class="navbar-link">Experience</a>
        <a id="navbar-link--experience" class="navbar-link">Projects</a>
        <a id="navbar-link--projects" class="navbar-link">Interests</a>
        <a id="navbar-link--contact" class="navbar-link">Contact</a>
        <hr>
        <a class="navbar-link navbar-btn" href="{{ site.resume }}" target="_blank">Resume</a>
      </div>
    </div>
    <div class="links-container">
      <div class="internal-links-container">
        <a id="navbar-link--about" class="navbar-link">About Me</a>
        <a id="navbar-link--skills" class="navbar-link">Skills</a>
        <a id="navbar-link--experience" class="navbar-link">Experience</a>
        <a id="navbar-link--projects" class="navbar-link">Projects</a>
        <a id="navbar-link--interests" class="navbar-link">Interests</a>
        <a id="navbar-link--contact" class="navbar-link">Contact</a>
      </div>
      <div class="external-links-container">
        <a
          class="navbar-link navbar-btn"
          href="{{ site.resume }}"
          target="_blank"
        >
          Resume
        </a>
      </div>
    </div>
  </div>
</section>
