<nav id="sticky-nav" class="sticky-nav">
  <div class="sticky-nav-container">
    <div id="dropdown-menu" class="dropdown-menu">
      <div id="dropdown-menu-bar-container--top" class="dropdown-menu-bar-container">
        <div
          id="dropdown-menu-bar--top"
          class="dropdown-menu-bar dropdown-menu-bar--top"
        ></div>
      </div>
      <div id="dropdown-menu-bar-container--middle" class="dropdown-menu-bar-container">
        <div
          id="dropdown-menu-bar--middle"
          class="dropdown-menu-bar dropdown-menu-bar--middle"
        ></div>
      </div>
      <div id="dropdown-menu-bar-container--bottom" class="dropdown-menu-bar-container">
        <div
          id="dropdown-menu-bar--bottom"
          class="dropdown-menu-bar dropdown-menu-bar--bottom"
        ></div>
      </div>
    </div>
    <div id="links-container" class="links-container">
      <div class="internal-links-container">
        <div id="navbar-link-container--intro" class="navbar-link-container">
          <a id="navbar-link--intro" class="navbar-link">About Me</a>
        </div>
        <div id="navbar-link-container--skills" class="navbar-link-container">
          <a id="navbar-link--skills" class="navbar-link">Skills</a>
        </div>
        <div id="navbar-link-container--experience" class="navbar-link-container">
          <a id="navbar-link--experience" class="navbar-link">Experience</a>
        </div>
        <div id="navbar-link-container--projects" class="navbar-link-container">
          <a id="navbar-link--projects" class="navbar-link">Projects</a>
        </div>
        <div id="navbar-link-container--contact" class="navbar-link-container">
          <a id="navbar-link--contact" class="navbar-link">Contact</a>
        </div>
      </div>
      <div class="external-links-container">
        <div id="navbar-link-container--resume" class="navbar-link-container">
          <a
            id="navbar-link--resume"
            class="navbar-link navbar-btn"
            href="{{ site.resume }}"
            target="_blank"
          >
            Resume
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
