<nav class="nav">
  <div class="nav-container">
    <!-- mobile -->
    <div class="dropdown-menu-container dropdown-menu-container--hover">
      <div class="dropdown-menu-container__bar dropdown-menu-container__bar--top">
        <div></div>
      </div>
      <div class="dropdown-menu-container__bar dropdown-menu-container__bar--middle">
        <div></div>
      </div>
      <div class="dropdown-menu-container__bar dropdown-menu-container__bar--bottom">
        <div></div>
      </div>
    </div>
    <!-- all devices -->
    <div class="nav-links-container">
      <div class="internal-links-container">
        {% for item in site.data.navbar_links %}
          <div class="internal-link-container">
            <a class="internal-link-container__link internal-link-container__link--{{ item.class }}">
              {{ item.name }}
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="external-links-container">
        <div class="external-link-container">
          <a class="external-link-container__link" href="{{ "/assets/resume.pdf" | relative_url }}" target="_blank">
            Resume
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
