<section class="skills-section">
  <div class="skills-outer-container">
    <div class="skills-inner-container">
      <h1 class="skills-inner-container__header">Skills</h1>
      <div class="skills-content-container">
        <!-- mobile -->
        <div class="scale-container">
          <p class="scale-container__skill-level">Novice</p>
          <p class="scale-container__skill-level">Very<br />Comfortable</p>
        </div>
        <!-- all devices -->
        <ul class="skills-list-container">
          {% for item in site.data.skills %}
            <li class="skills-item-container">
              <span class="skills-item-container__name">{{ item.skill }}</span>
              <div class="skills-logo-container">
                <img
                  class="skills-logo-container__logo"
                  src="{{ item.icon | relative_url }}"
                  alt="{{ item.skill }} Logo"
                  height="24px"
                  width="24px"
                />
                <span class="skills-logo-container__tooltip">
                  {{ item.skill }}
                </span>
              </div>
              <div class="skills-bar-container">
                <span
                  class="skills-bar-container__rating skills-bar-container__rating--{{ item.skill | downcase }}"
                ></span>
              </div>
              <p class="skills-item-container__skill-level">{{ item.rating }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
