$bg-color--lightgray: lightgray;
$bg-color--black: black;
$bg-color--gray: gray;

$text-color--black: black;
$text-color--gray: gray;

$border-color--black: black;
$border-color--gray: gray;

$navbar-height: 5.75rem;
$navbar-height-mobile: 4.5rem;

$navbar-min-width: 87.5rem;

$min-width: 14.75rem;

$small-spacing: 2rem;
$regular-spacing: 4rem;
$large-spacing: 6rem;
$extra-large-spacing: 8rem;


$intro-section-height--mobile: calc(100vh - #{$navbar-height-mobile} - #{$regular-spacing});
$intro-section-height--tablet: calc(100vh - #{$navbar-height} - #{$regular-spacing});



$mobile-width--400: 25rem;
$mobile-width--large: 36rem;
$tablet-width: 48rem;

$small-padding--left-right: 0 2rem;

$small-margin--top-bottom: 2rem 0;


// $regular-text: black;


$text-font--header: "Reenie Beanie";
$text-font--body: "Inconsolata";

$regular-font-size: 1rem;

$regular-font-weight: 400;

$min-width: 14.75rem;

@mixin baseText($textTransform: none) {
  font-family: $text-font--body;
  font-size: 1rem;
  font-weight: 400;
  color: $text-color--black;
  letter-spacing: 1px;
  line-height: 1.2rem;
  text-transform: $textTransform;
}


@mixin wrapper-container {
  display: flex;
  margin: $small-margin--top-bottom;
  min-width: $min-width;
}

@mixin mobile-400 {
  @media screen and (min-width: $mobile-width--400) {
    @content;
  }
}

@mixin mobile-large {
  @media screen and (min-width: $mobile-width--large) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}
