.contact-outer-container {
  @extend %outer-container;

  max-width: $max-width--mobile;
}

.contact-inner-container {
  margin: $large-margin--top-bottom;
}

.contact-inner-container__header {
  @extend %section-header;
}

.contact-description-container {
  display: flex;
  flex-direction: column;
}

.contact-description-container__description {
  font-family: $text-font--body;
  font-size: $font-size--regular;
  font-weight: $font-weight--regular;
  line-height: $line-height--text;

  margin: $extra-extra-small-margin--top-bottom;

  &:nth-child(2) {
    margin-left: $spacing--small;
  }
}

.contact-form-container {
  margin-top: $spacing--small;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form__name-inputs {
  display: flex;
  flex-direction: column;

  @include mobile-large {
    flex-direction: row;
  }
}

.contact-form__input {
  font-family: $text-font--body;
  font-size: $font-size--regular;
  font-weight: $font-weight--regular;
  line-height: $line-height--text;

  background-color: $bg-color--lightgray;
  border: $border--regular-black;
  border-radius: $border-radius;
  outline: none;

  margin-bottom: $spacing--extra-small;
  padding: 0.75rem;

  transition: border 0.5s;

  &:focus {
    border-color: $border-color--gray;
  }

  @include mobile-large {
    flex-basis: 50%;

    &:first-child {
      margin-right: $spacing--extra-small;
    }
  }
}

.contact-form__textarea {
  font-family: $text-font--body;
  font-size: $font-size--regular;
  font-weight: $font-weight--regular;
  line-height: $line-height--text;

  background-color: $bg-color--lightgray;
  border: $border--regular-black;
  border-radius: $border-radius;
  outline: none;
  resize: none;
  overflow-y: scroll;

  margin-bottom: $spacing--extra-small;
  padding: 0.75rem;

  transition: border 0.5s;

  &:focus {
    border-color: $border-color--gray;
  }
}

.contact-form__btn {
  font-family: $text-font--body;
  font-size: $font-size--regular;
  font-weight: $font-weight--regular;
  line-height: $line-height--text;

  background-color: $bg-color--lightgray;
  border: $border--regular-black;
  border-radius: $border-radius;
  cursor: pointer;

  margin: $margin--center;
  padding: 0.75rem 1rem;

  transition: color 0.5s, border 0.5s;

  &:hover {
    color: $text-color--gray;
    border-color: $border-color--gray;
  }
}
