.contact-section {
  padding: 0 2rem;

  .wrapper-container {
    display: flex;
    margin: 0 auto;
    min-width: 14.75rem;
    max-width: 38rem;

    .contact-container {
      margin: 4rem 0;

      .header {
        font-family: "Reenie Beanie";
        font-size: 4rem;
        font-weight: 400;
        color: black;
        text-align: center;
        margin: 0 0 2rem;
      }

      .content-container {
        .description-container {
          display: flex;
          flex-direction: column;

          .description {
            margin: 0.5rem 0;

            font-family: "Inconsolata";
            font-size: 1rem;
            font-weight: 400;
            color: black;
            letter-spacing: 1px;
            line-height: 1.4rem;

            // change font-size to 14 ???

            &:nth-child(2) {
              margin-left: 2rem;
            }
          }
        }

        .form-container {
          margin-top: 2rem;

          .contact-form {
            display: flex;
            flex-direction: column;

            .name-container {
              display: flex;
              flex-direction: column;
            }

            .form-input {
              background-color: lightgray;
              border: 0.125rem solid black;
              border-radius: 0.25rem;
              outline: none;

              margin-bottom: 1rem;
              padding: 0.75rem;

              font-family: "Inconsolata";
              font-size: 1rem;
              font-weight: 400;
              color: black;
              letter-spacing: 1px;
              line-height: 1.4rem;

              transition: border 0.5s;

              &:focus {
                border-color: gray;
              }
            }

            .email-body {
              background-color: lightgray;
              border: 0.125rem solid black;
              border-radius: 0.25rem;
              outline: none;
              resize: none;
              overflow-y: scroll;

              margin-bottom: 1rem;
              padding: 0.75rem;

              font-family: "Inconsolata";
              font-size: 1rem;
              font-weight: 400;
              color: black;
              letter-spacing: 1px;
              line-height: 1.4rem;

              transition: border 0.5s;

              &:focus {
                border-color: gray;
              }
            }

            .form-button {
              background-color: lightgray;
              border: 0.125rem solid black;
              border-radius: 0.25rem;
              cursor: pointer;

              margin: 0 auto;
              padding: 0.75rem 1rem;

              font-family: "Inconsolata";
              font-weight: 400;
              font-size: 1rem;
              color: black;
              letter-spacing: 1px;
              line-height: 1.4rem;

              transition: color 0.5s, border 0.5s;

              &:hover {
                color: gray;
                border: 2px solid gray;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 36rem) {
  .contact-section {
    .wrapper-container {
      .contact-container {
        .header {
          font-size: 5rem;
        }

        .content-container {
          .form-container {
            .contact-form {
              .name-container {
                flex-direction: row;

                .form-input {
                  flex-basis: 50%;

                  &:first-child {
                    margin-right: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 48rem) {
  .contact-section {
    .wrapper-container {
      .contact-container {
        .header {
          font-size: 6rem;
        }
      }
    }
  }
}
