.experience-outer-container {
  @extend %outer-container;

  @include mobile-400 {
    max-width: $max-width--mobile;
  }

  @include tablet {
    max-width: $max-width--in-between;
  }
}

.experience-inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: $large-margin--top-bottom;
}

.experience-inner-container__header {
  @extend %section-header;
}

.experience-inner-container__subheader {
  font-family: $text-font--body;
  font-size: $font-size--regular;
  font-weight: $font-weight--regular;
  text-align: center;
  margin: $extra-small-margin--top-bottom;
}

.experience-content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  margin: $extra-small-margin--top-bottom;

  font-family: $text-font--body;
  font-size: $font-size--regular;
  font-weight: $font-weight--regular;
  text-align: center;

  @include mobile-400 {
    flex-basis: 50%;
  }

  @include tablet {
    flex-basis: 25%;
  }
}

.experience-container__icon {
  cursor: pointer;

  &:hover {
    content: url("../img/folder-closed-filled.png");
  }

  &--opened {
    content: url("../img/folder-opened-outlined.png");
  }
}

.experience-container__date {
  margin: 0;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
}

.modal-content-container {
  margin: $margin--center;
  width: 80%;
  max-width: $max-width--in-between;
}

.modal-experience-container {
  display: none;
  border: $border--regular-black;
  padding: $spacing--small;
  border-radius: $border-radius;
  background-color: $bg-color--lightgray;
  box-sizing: border-box;
  position: relative;
  overflow: auto;

  @include tablet {
    font-size: $font-size--regular;
  }

  &--opened {
    display: block;
  }
}

.modal-experience-container__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $spacing--extra-extra-small;
  margin-bottom: $spacing--small;
  box-sizing: border-box;

  position: absolute;
  border-bottom: $border--regular-black;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  height: 2rem;
  width: 100%;
  top: 0;
  left: 0;
}

.modal-experience-container__close-icon {
  &:hover {
    content: url("../img/close-icon-filled.png");
    cursor: pointer;
  }
}

// .modal-description-container {

//   font-size: $font-size--regular;
//   font-weight: $font-weight--regular;

// }

.modal-description-container__header {
  font-family: $text-font--body;
  font-size: $font-size--regular;
  font-weight: $font-weight--bold;
  line-height: $line-height--text;
  text-align: center;
  margin: $spacing--small auto $spacing--extra-small;

  @include mobile-400 {
    font-size: $font-size--regular-plus-quarter;
  }
}

.experience-details-container {
  display: flex;
  margin: $extra-small-margin--top-bottom;
}

.experience-details-list-container {
  padding-left: $spacing--extra-small;
  text-align: left;
  margin: $extra-small-margin--top-bottom;

  font-family: $text-font--body;
  font-size: $font-size--small;
  font-weight: $font-weight--regular;
  line-height: $line-height--text;

  @include mobile-400 {
    font-size: $font-size--regular;
  }
}

.experience-details-list-container__bullet:not(:last-child) {
  margin-bottom: $spacing--extra-small;
}

.experience-skills-container {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: $spacing--small;
}

.experience-skills-container__item {
  font-family: $text-font--body;
  font-size: $font-size--small;
  font-weight: $font-weight--light;
  line-height: $line-height--text;
  margin: 0;
  margin-right: $spacing--extra-extra-small;
  color: $text-color--black;
  border: $border--small-black;
  padding: $spacing--extra-extra-small;
  border-radius: $border-radius;

  @include mobile-400 {
    font-size: $font-size--regular;
  }
}

hr {
  width: 100%;
  margin: 0;
  border: none;
  background-color: $bg-color--black;
  height: 2px;
}
