// .interests-section {
//   margin: 4rem auto;
//   display: flex;
//   flex-direction: column;

//   .title {
//     font-family: "Reenie Beanie";
//     font-size: 4rem;
//     font-weight: 400;
//     color: black;
//     margin: 0 auto;
//     margin-bottom: 2rem;
//   }

//   .interests-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .interest-name {
//       font-family: "Inconsolata";
//       font-size: 1rem;
//       font-weight: 400;
//       color: black;
//     }
//   }
// }

.interests-section {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  max-width: 1000px;

  .title {
    font-family: "Reenie Beanie";
    font-size: 4rem;
    font-weight: 400;
    color: black;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .interests-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .interest {
      flex-basis: 10%;
      text-align: center;

      .interest-name {
        font-family: "Inconsolata";
        font-size: 1rem;
        font-weight: 400;
        color: black;
      }

      .icon {
        height: 100px;
        width: 100px;
        transition: transform 0.5s;
        cursor: pointer;

        &:hover {
          transform: translateY(-0.25rem);
        }

        &.golf-icon:hover {
          content: url("../img/golf-filled.png");
        }

        &.tennis-icon:hover {
          content: url("../img/tennis-filled.png");
        }

        &.reading-icon:hover {
          content: url("../img/reading-filled.png");
        }

        &.writing-icon:hover {
          content: url("../img/typewriter-filled.png");
        }

        &.tv-icon:hover {
          content: url("../img/tv-filled.png");
        }

        &.gaming-icon:hover {
          content: url("../img/controller-filled.png");
        }
      }
    }
  }
}



// .interests-sections {
//   display: flex;
//   flex-direction: column;

//   .title {
//     margin: 0 auto;
//     margin-bottom: 2rem;
//   }

//   .interests-container {
//     display: flex;
//     flex-direction: column;

//     .interest {
//       flex-basis: 20%;
//     }
//   }
// }

