.intro-outer-container {
  @extend %outer-container;

  min-height: $intro-section-height--mobile;

  @include tablet {
    min-height: $intro-section-height--tablet;
  }
}

.intro-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $small-margin--top-bottom;

  @include mobile-large {
    max-width: $max-width--mobile;
  }

  @include tablet {
    max-width: $max-width--tablet;
  }
}

.intro-inner-container__header {
  font-family: $text-font--header;
  font-weight: $font-weight--regular;
  font-size: $font-size--large;
  line-height: $line-height--large;
  text-align: center;
  margin: 0 0 3rem;

  @include mobile-large {
    font-size: $font-size--larger;
  }

  @include tablet {
    font-size: $font-size--extra-extra-large;
    line-height: $line-height--extra-large;
    margin-bottom: $spacing--regular;
  }
}

.intro-content-container {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.description-container {
  margin-bottom: $spacing--small;

  @include tablet {
    flex-basis: 50%;
    margin-bottom: 0;
    margin-right: $spacing--small;
  }
}

.description-container__description {
  font-family: $text-font--body;
  font-size: $font-size--regular;
  font-weight: $font-weight--regular;
  line-height: $line-height--text;

  margin-top: 0;
  margin-bottom: $spacing--smaller;

  &:nth-child(2) {
    margin-left: $spacing--small;
  }

  &:last-child {
    margin-bottom: 0;
  }

  span {
    position: relative;
    padding-bottom: 4px;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 0;
      width: 0;
      background: $bg-color--black;
      border-radius: $border-radius;
      transition: width 1s;
    }

    &.description-container__description--underline {
      &::after {
        width: 100%;
      }
    }
  }
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-container__mask {
  display: flex;
  align-items: center;
  padding: $spacing--extra-extra-small;
  border-radius: $border-radius;
  box-sizing: border-box;
  position: relative;

  &::before,
  &::after {
    content: '';
    box-sizing: inherit;
    position: absolute;
    border: $border--regular-transparent;
    width: 0;
    height: 0;
  }

  // covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // covers the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
  }

  &--border {
    &::before,
    &::after {
      border-radius: $border-radius;
      width: 100%;
      height: 100%;
    }

    &::before {
      border-top-color: $border-color--black;
      border-right-color: $border-color--black;
      transition:
        width 0.25s ease-out,
        height 0.25s ease-out 0.25s;
    }

    &::after {
      border-bottom-color: $border-color--black;
      border-left-color: $border-color--black;
      transition:
        border-color 0s ease-out 0.5s,
        width 0.25s ease-out 0.5s,
        height 0.25s ease-out 0.75s;
    }
  }

  .img-container__img {
    filter: grayscale(100%);
    border-radius: $border-radius;

    @include mobile-large {
      width: 200px;
      height: 200px;
    }
  }
}
