.overlay-section {
  background-color: lightgray;
  padding: 2rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  min-width: calc(100vw - 4rem);

  font-family: "Reenie Beanie";
  font-weight: 400;
  color: black;

  &.hide {
    transform: translateY(-100%);
    transition: transform 1.5s;
  }

  .overlay-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .name-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: 100%;
      flex-wrap: wrap;
      text-align: center;

      .name {
        font-size: 6rem;
        line-height: 4rem;
        margin: 0 0 2rem;
      }

      .job-description {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 0;
      }
    }

    .scroll-container {
      display: block;
      text-align: center;

      .scroll-button {
        transition: transform 0.5s;

        &:hover {
          transform: translateY(-0.25rem);

          .scroll-path {
            fill: gray;
          }
        }

        &.clicked {
          transform: scale(-1);

          .scroll-button {
            fill: black;
          }
        }

        .scroll-path {
          fill: black;
          transition: fill 0.5s;
        }
      }
    }
  }
}

// 576px -- Extra Small Devices
@media screen and (min-width: 36rem) {
  .overlay-section {
    .overlay-container {
      .name-container {
        .name {
          font-size: 8rem;
          line-height: 8rem;
        }

        .job-description {
          font-size: 3rem;
          line-height: 3.25rem;
        }
      }
    }
  }
}
