.projects-outer-container {
  @extend %outer-container;

  max-width: $max-width--desktop;
}

.projects-inner-container {
  width: 100%;
  margin: $large-margin--top-bottom;
}

.projects-inner-container__header {
  @extend %section-header;
}

.projects-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card-container {
  display: flex;
  padding: $spacing--extra-extra-small;
  box-sizing: border-box;
  flex-basis: 100%;
  min-width: 310px;

  @include tablet {
    flex-basis: 50%;
  }

  @include desktop {
    flex-basis: 33%;
  }
}

.project-container {
  display: flex;
  flex-direction: column;
  padding: $spacing--smaller;
  border-radius: $border-radius;
  border: $border--regular-black;
  width: 100%;
  font-family: $text-font--body;
}

.project-container__header {
  font-size: $spacing--small;
  font-weight: $font-weight--semi-bold;
  margin-top: 0;
  margin-bottom: $spacing--extra-extra-small;
}

.project-container__description {
  font-size: $font-size--regular;
  font-weight: $font-weight--light;
  line-height: $line-height--text;
  margin: 0 0 $spacing--extra-small;
}

.project-container__spacer {
  flex: 1 0 auto;
}

.project-skills-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.project-skills-container__item {
  font-size: $font-size--extra-small;
  font-weight: $font-weight--light;
  margin: 0;
  margin-right: $spacing--extra-extra-small;
  border: $border--small-black;
  padding: $spacing--extra-extra-small;
  border-radius: $border-radius;
}

hr {
  width: 100%;
  margin: $extra-small-margin--top-bottom;
  border: none;
  background-color: $bg-color--black;
  height: 2px;
}

.project-details-container {
  display: flex;
}

.project-details-container__status {
  font-size: $font-size--regular;
  font-weight: $font-weight--light;
  line-height: $line-height--text;
  text-transform: uppercase;
  margin: 0;

  &--completed {
    color: green;
  }

  &--in-progress {
    color: orange;
  }
}

.project-details-container__spacer {
  flex: 1 0;
}

.project-details-container__link {
  svg {
    path {
      transition: fill 0.5s;
      fill: $fill-color--black;
    }
  }

  &:hover {
    svg {
      path {
        fill: $fill-color--gray;
      }
    }
  }
}
