.projects-section {
  padding: 0 2rem;

  .wrapper-container {
    display: flex;
    margin: 0 auto;
    min-width: 14.75rem;
    max-width: 75rem;

    .projects-container {
      width: 100%;
      margin: 4rem 0;

      .header {
        font-family: "Reenie Beanie";
        font-size: 4rem;
        font-weight: 400;
        color: black;
        text-align: center;
        margin: 0 0 2rem;
      }

      .content-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .project-card-container {
          display: flex;
          padding: 0.5rem;
          box-sizing: border-box;
          // flex: 0 1 calc(100% - 1rem);
          flex-basis: 100%;
          min-width: 310px;

          .project-container {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            border-radius: 4px;
            border: 2px solid black;
            width: 100%;

            .title {
              font-family: "Inconsolata";
              font-size: 2rem;
              font-weight: 600;
              margin-top: 0;
              margin-bottom: 0.5rem;
              color: black;
            }

            .description {
              font-family: "Inconsolata";
              font-size: 1rem;
              font-weight: 200;
              margin: 0;
              margin-bottom: 1rem;
              color: black;
            }

            .skills-container {
              display: flex;
              align-items: center;
              justify-content: start;

              p {
                font-family: "Inconsolata";
                font-size: 0.75rem;
                font-weight: 200;
                margin: 0;
                margin-right: 0.5rem;
                color: black;
                border: 1px solid black;
                padding: 0.5rem;
                border-radius: 4px;

                &:last-child {
                  margin-right: 0;
                }
              }
            }

            hr {
              width: 100%;
              margin: 1rem 0;
              border: none;
              background-color: black;
              height: 2px;
            }

            .details-container {
              display: flex;

              .tracking {
                font-family: "Inconsolata";
                font-size: 1rem;
                font-weight: 100;
                text-transform: uppercase;
                margin: 0;

                &.completed {
                  color: green;
                }

                &.in-progress {
                  color: orange;
                }
              }

              .spacer {
                flex: 1 0;
              }

              .external-link {
                svg {
                  path {
                    fill: black;
                  }
                }

                &:hover {
                  svg {
                    path {
                      fill: gray;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }




}

@media screen and (min-width: 36rem) {
  .projects-section {
    .wrapper-container {
      .projects-container {

      }
    }
  }
}

@media screen and (min-width: 768px) {
  .projects-section {
    .wrapper-container {
      .projects-container {
        .header {
          font-size: 7rem;
        }

        .content-container {
          .project-card-container {
            // flex: 0 1 calc(50% - 1rem);
            flex-basis: 50%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 62rem) {

}

@media screen and (min-width: 1200px) {
  .projects-section {
    .wrapper-container {
      .projects-container {
        .content-container {
          .project-card-container {
            // flex: 0 1 calc(50% - 1rem);
            flex-basis: 33%;
          }
        }
      }
    }
  }
}
