.skills-outer-container {
  @extend %outer-container;

  max-width: $max-width--tablet;
}

.skills-inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: $large-margin--top-bottom;

  @include tablet {
    padding: $small-padding--left-right;
  }
}

.skills-inner-container__header {
  @extend %section-header;
}

.scale-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: $spacing--small-plus-half;

  @include mobile-large {
    display: none;
  }
}

.scale-container__skill-level {
  font-family: $text-font--body;
  font-size: $font-size--regular;
  font-weight: $font-weight--regular;
  line-height: $line-height--text;
  text-align: center;
}

.skills-list-container {
  font-family: $text-font--body;
  font-size: $font-size--regular;
  font-weight: $font-weight--regular;
  line-height: $line-height--text;

  list-style: none;
  margin: 0;
  padding: 0;
}

.skills-item-container {
  display: flex;
  align-items: center;
  margin: $extra-small-margin--top-bottom;

  @include tablet {
    align-items: center;
  }
}

.skills-item-container__name {
  display: none;

  @include tablet {
    display: block;
    flex-basis: $spacing--large;
    margin-right: $spacing--small;
    text-align: right;
  }
}

.skills-logo-container {
  display: flex;
  align-items: center;
  flex-basis: $spacing--smaller;
  margin-right: $spacing--extra-small;
  text-align: right;
  position: relative;

  &:hover {
    .skills-logo-container__tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  @include tablet {
    margin-right: $spacing--small;
    display: none;
  }
}

.skills-logo-container__tooltip {
  visibility: hidden;
  width: 7.5rem;
  background-color: $bg-color--gray;
  color: white;
  text-align: center;
  border-radius: $border-radius;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 75%;
  margin-left: -35px;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: default;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -35px;
    border-width: 5px;
    border-style: solid;
    border-color: $bg-color--gray transparent transparent transparent;
  }
}

.skills-bar-container {
  height: 0.5rem;
  background-color: rgba(0.5, 0.5, 0.5, 0.10);
  border-radius: $border-radius;
  flex: 1 1 auto;
}

.skills-bar-container__rating {
  display: block;
  height: 0.5rem;
  background-color: $bg-color--black;
  border-radius: $border-radius;
  width: 0;
  transition: width 1s;

  &--25 {
    width: 25%;
  }

  &--50 {
    width: 50%;
  }

  &--75 {
    width: 75%;
  }

  &--100 {
    width: 100%;
  }
}

.skills-item-container__skill-level {
  display: none;

  @include mobile-large {
    display: block;
    margin: 0;
    margin-left: $spacing--extra-small;
    flex-basis: 9rem;
  }

  @include tablet {
    margin-left: $spacing--small;
  }
}
