.skills-section {
  padding: 0 2rem;

  .wrapper-container {
    display: flex;
    margin: 0 auto;
    min-width: 14.75rem;
    max-width: 64rem;

    .skills-container {
      width: 100%;
      margin: 4rem 0;
      display: flex;
      flex-direction: column;

      .header {
        font-family: "Reenie Beanie";
        font-size: 4rem;
        font-weight: 400;
        color: black;
        text-align: center;
        margin: 0 0 2rem;
      }

      .content-container {
        .scale-container {
          display: flex;
          align-items: flex-end;
          margin-left: 2.5rem;

          .spacer {
            flex: 1 1 auto; // remove this
          }

          p {
            font-family: "Inconsolata";
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 1.2rem;
            text-align: center;
          }
        }

        .skills-list {
          margin: 0;
          padding: 0;
          list-style: none;

          font-family: "Inconsolata";
          font-size: 1rem;
          font-weight: 400;
          color: black;
          line-height: 1.2rem;
          letter-spacing: 1px;

          .skill-item {
            display: flex;
            align-items: center;
            margin: 1rem 0;

            .skill-name {
              display: none;
            }

            .skill-logo-container {
              flex-basis: 1.5rem;
              margin-right: 1rem;
              text-align: right;
              display: flex;
              align-items: center;
              cursor: pointer;
              position: relative;

              &:hover {
                .tooltip-text {
                  visibility: visible;
                  opacity: 1;
                }
              }

              .tooltip-text {
                visibility: hidden;
                width: 120px;
                background-color: #555;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                bottom: 125%;
                left: 75%;
                margin-left: -35px;
                opacity: 0;
                transition: opacity 0.3s;
              }

              .tooltip-text::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -35px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
              }
            }

            .skill-rating-bar {
              height: 0.5rem;
              background-color: rgba(0.5,0.5,0.5,0.10);
              border-radius: 0.25rem;
              flex: 1 1 auto;

              .skill-rating {
                display: block;
                height: 0.5rem;
                background-color: black;
                border-radius: 0.25rem;
                width: 0;

                &.skill-rating--25 {
                  width: 25%;
                  transition: width 1s;
                }

                &.skill-rating--50 {
                  width: 50%;
                  transition: width 1s;
                }

                &.skill-rating--75 {
                  width: 75%;
                  transition: width 1s;
                }

                &.skill-rating--100 {
                  width: 100%;
                  transition: width 1s;
                }
              }
            }

            .skill-level {
              // margin-left: 2rem;
              // flex-basis: 9rem;
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .skills-section {
    .wrapper-container {
      .skills-container {
        .content-container {
          .scale-container {
            display: none;
          }

          .skills-list {
            .skill-item {
              .skill-level {
                display: block;
                margin: 0;
                margin-left: 1rem;
                flex-basis: 9rem;
              }
            }
          }
        }
      }
    }
  }
}

// @media screen and (min-width: 600px) {
//   .skills-section {
//     .wrapper-container {
//       .skills-container {
//         padding: 0 2rem;
//       }
//     }
//   }
// }

@media screen and (min-width: 768px) {
  .skills-section {
    // margin: 0 0 8rem;
    padding: 0 2rem;

    .wrapper-container {
      .skills-container {
        padding: 0 4rem;
        box-sizing: border-box;
        max-width: 64rem;

        .header {
          font-family: "Reenie Beanie";
          font-size: 4rem;
          font-weight: 400;
          color: black;
          text-align: center;
        }

        .content-container {
          .skills-list {
            .skill-item {
              display: flex;
              align-items: center;

              .skill-name {
                display: block;
                flex-basis: 6rem;
                margin-right: 2rem;
                text-align: right;
              }

              .skill-logo-container {
                // flex-basis: 6rem;
                margin-right: 2rem;
                // text-align: right;
                display: none;
              }

              .skill-rating-bar {
                height: 0.5rem;
                background-color: rgba(0.5,0.5,0.5,0.10);
                border-radius: 0.25rem;
                flex: 1 1 auto;

                .skill-rating {
                  display: block;
                  height: 0.5rem;
                  background-color: black;
                  border-radius: 0.25rem;

                  &.skill-rating--25 {
                    width: 25%;
                  }

                  &.skill-rating--50 {
                    width: 50%;
                  }

                  &.skill-rating--75 {
                    width: 75%;
                  }

                  &.skill-rating--100 {
                    width: 100%;
                  }
                }
              }

              .skill-level {
                margin-left: 2rem;
              }
            }
          }
        }

      }
    }
  }
}


@keyframes loaddata {
  from {
    width: 0px;
  }

  to {
    width: 200px;
  }
}
